@import 'src/GlobalStyles/Spacing.scss';
@import 'src/GlobalStyles/Colors.scss';

.Card {
  background: white;
  padding: spacing();
  width: 400px;
  box-shadow: shadow();
}

.Link {
  display: inline-block;
}

.Chart {
  padding: spacing(tight) 0;
}