@import 'src/GlobalStyles/Colors.scss';
@import 'src/GlobalStyles/Spacing.scss';

.SearchBarContainer {
  width: 100%;
  margin: 10vw;
}

.TopBar {
  position: relative;
  display: flex;
  height:  55px;
  background-color: color(purple, dark);
}

.CardContainer {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  padding: 0 spacing(extraLoose) spacing() spacing();

  @media (max-width: 1200px) {
    grid-template-columns: 50% 50%;
  }

  @media (max-width: 900px) {
    grid-template-columns: 100%;
  }
}

.NavigationContainer {
  padding: spacing();
}

.NavigatorTitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  color: color(ink, lighter);
  padding-bottom: spacing(extraTight);
}