@import 'src/GlobalStyles/Colors.scss';
@import 'src/GlobalStyles/Spacing.scss';

.SearchBarContainer {
  width: 100%;
  margin: 10vw;
}

.TopBar {
  position: relative;
  display: flex;
  height:  55px;
  background-color: color(purple, dark);
}

.CardContainer {
  padding: spacing(loose);
}

.NavigationContainer {
  padding: spacing();
}

.NavigatorTitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  color: color(ink, lighter);
  padding-bottom: spacing(extraTight);
}