@import 'src/GlobalStyles/Colors.scss';

.SearchBarContainer {
  width: 100%;
  margin: 250px;
}

.TopBar {
  position: relative;
  display: flex;
  height:  55px;
  background-color: color(purple, dark);
}